@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

html * {
  box-sizing: border-box;
  font-family: 'Nanum Barun Gothic',sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
